/* Tipos de bordas decorativas */

#p1 {
	border-style: dashed;
	border-color: rgb(127,0,128);
}
#p2 {
	border-style: double;
	border-color: #F01C00;
}
#p3 {
	border-style: ridge;
}
#p4 {
	border-style: inset;
}
#p5 {
	border-style: groove;
}
#p6 {
	border-style: dotted;
}
#p7 {
	border-style: outset;
}

/* Div com Arredondamento */

#div1 {
	width: 140px;
	height: 140px;
	border: solid;
	border-radius: 20px;
}

#divGrad {
	width: 140px;
	height: 140px;
	border: solid;
	border-radius: 20px;
	background-color: red;
	background-image: linear-gradient(0deg, red, yellow);
}

/* Style para botões */

#btnBonito {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.exColuna {
	column-count: 3;
	column-gap: 40px;
	column-rule: 3px solid lightblue;
}

#verde {
	width: 140px;
	height: 140px;
	background-color: green;
	transition: width 10s, height 10s;
}

#verde:hover {
	width: 300px;
	height: 300px;
}